@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Rambla', sans-serif;
}

#main {
    position: relative;
}

/* Navigation bar */
#header {
    font-family: 'Titillium Web', sans-serif;
    position: fixed;
    top: 0;
    width: 100%;
}

#header-img {
    width: 25px;
    height: auto;
    filter: opacity(100%);
}

#header-img:hover {
    filter: opacity(50%);
}

#nav-bar {
    background-color: rgb(55, 51, 51);
    width: 100%;
    display: flex;
    justify-content: center;
}

#nav-bar ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: .5em;
}

#nav-bar ul li {
    margin: 0 5em;
}

.nav-link {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
    padding: .3em 0;
    font-size: .9em;
}

.nav-link::before, .nav-link::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: white;
    transform: scaleX(0);
    transition: all .5s;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link:hover::before, .nav-link:hover::after {
    transform: scaleX(1);
}

.nav-link:hover {
    color: white;
}

@media (max-width: 1110px) {
    #nav-bar ul li {
        margin: 0 3em;
    }
}

@media (max-width: 780px) {
    #nav-bar ul li {
        margin: 0 2em;
    }

    #header-img {
        width: 15px;
    }

    .nav-link {
        font-size: .7em;
    }
}

@media (max-width: 560px) {
    #nav-bar ul {
        display: inline-block;
        text-align: center;
        padding: .4em;
    }

    #nav-bar ul li {
        margin-bottom: .3em;
    }
}

/* Content */
.gridwrapper {
    margin-top: 3.28em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "s1 s1"
        "s2 s2"
        "s3-pic s3-content"
        "form form"
        "footer footer";
    width: 100%;
    height: 100%;
}

/* section 1 */
.section1 {
    grid-area: s1;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
}

.section1 h1 {
    font-size: 3.5em;
    color: rgba(255, 255, 255, 0.88);
}

.section1 h3 {
    font-size: 2em;
    color: rgba(255, 255, 255, 0.88);
    text-transform: uppercase;
    padding-top: 2em;
}

.section1 img {
    width: 100%;
    height: 75%;
}

/* section 2 */
.section2 {
    grid-area: s2;
    background-color: rgba(192, 192, 192, 0.75);
    padding: 3em 0 2em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 .price-table-12-pro {
    margin: 3em 0 1em 0;
}

.section2 .price-table-12-pro, .price-table-12-pro th, .price-table-12-pro td{
    padding: .2em;
    text-align: center;
    font-size: 1.1em;
}

.price-table-12-pro td {
    padding: .3em 3em;
}

#img-12-pro, #img-12-pro-max {
    width: 270px;
    height: 200px;
    border-radius: 15px;
}

input[type="button"] {
    padding: .3em .6em;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 89, 255);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

input[type="button"]:hover {
    background-color: rgba(0, 89, 255, 0.85);
}

/* section 3 */
.s3-pic {
    grid-area: s3-pic;
    background-image: url("https://cdn.mos.cms.futurecdn.net/CCBnW7555eUZkd3FgDQeh6-650-80.jpg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.s3-content {
    grid-area: s3-content;
    background-color: whitesmoke;
}

.s3-content .price-table-12 {
    margin: 0 auto;
    padding: 10em 0;
}

.price-table-12 td {
    padding: .3em 3em;
}

.price-table-12 th {
    padding-bottom: 1em;
}

.price-table-12 th, .price-table-12 td {
    font-size: 1.3em;
    text-align: center;
}

/* Email Form */
.form-container {
    grid-area: form;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 4.5em;
}

#form h1 {
    padding-bottom: .5em;
    font-size: 3.5em;
}

#form input[type="email"] {
    padding: .8em;
    width: 50%;
    margin-bottom: 1.8em;
    border-radius: 5px;
    border: 1.8px solid black;
}

#form input[type="submit"] {
    padding: .7em 0;
    width: 30%;
    border-radius: 10px;
    border: none;
    background-color: rgb(0, 89, 255);
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#form input[type="submit"]:hover {
    background-color: rgba(0, 89, 255, 0.85);
}

.form-bg {
    width: 100%;
    height: 450px;
    display: block;
}

/* Footer */
.footer {
    grid-area: footer;
    background-color: gray;
    color: rgba(255,255,200,0.8);
    padding: .3em;
    display: flex;
    justify-content: flex-end;
}

.footer p {
    margin: 0 .5em;
}

.footer p a {
    text-decoration: none;
    color: rgba(255,255,200,0.8);
}

@media (max-width: 1170px) {
    .s3-content .price-table-12 {
        padding: 1em 0;
    }

    .price-table-12 th, .price-table-12 td {
        font-size: 1em;
    }
}

@media (max-width: 820px) {
    .gridwrapper {
        grid-template-columns: 100%;
        grid-template-rows: auto auto 500px auto auto auto;
        grid-template-areas: 
            "s1"
            "s2"
            "s3-pic" 
            "s3-content"
            "form"
            "footer";
    }
}

@media (max-width: 780px) {
    .price-table-12-pro td {
        padding: .3em 1em;
    }

    .price-table-12 th, .price-table-12 td {
        font-size: 1.2em;
    }

    .gridwrapper {
        margin-top: 2em;
    }

    .section1 h1 {
        font-size: 2.5em;
    }

    .section1 h3 {
        font-size: 1.5em;
    }

    #form h1 {
        font-size: 2.3em;
    }

    #form input[type="submit"] {
        padding: .4em 0;
        font-size: .9em;
    }
}

@media (max-width: 630px) {
    .price-table-12-pro td {
        padding: .3em .3em;
    }

    #img-12-pro, #img-12-pro-max {
        width: 200px;
        height: 150px;
    }

    .gridwrapper {
        grid-template-rows: auto auto 430px auto auto auto;
    }

    #video {
        width: 500px;
        height: 250px;
    }

    input[type="button"] {
        font-size: .8em;
    }

    #form {
        padding-top: 4em;
    }
}

@media (max-width: 560px) {
    .gridwrapper {
        margin-top: 9em;
    }

    #video {
        width: 350px;
        height: 200px;
    }

    .section1 h1 {
        font-size: 2em;
    }

    .section1 h3 {
        font-size: 1em;
    }
    
    .section2 .price-table-12-pro, .price-table-12-pro th, .price-table-12-pro td{
        padding: .1em;
        font-size: 1em;
    }

    #img-12-pro, #img-12-pro-max {
        width: 180px;
        height: 130px;
    }

    .gridwrapper {
        grid-template-rows: auto auto 380px auto auto auto;
    }
}

@media (max-width: 460px) {
    .price-table-12-pro td {
        padding: .3em 0;
    }

    .price-table-12 th, .price-table-12 td {
        font-size: 1em;
    }

    .s3-content .price-table-12 {
        padding: .5em 0;
    }
}