@import url('https://fonts.googleapis.com/css2?family=Sigmar+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gudea&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --formWidth: 70%;
}

body, html {
    height: auto;
    font-family: 'Gudea', sans-serif;
}

#main-bg {
    position: relative;
    width: 100%;
    height: 100%;
}

#main-bg::before {
    content: " ";
    display: block;
    position: absolute;
    background: url(http://s1.1zoom.net/big3/603/397078-sepik.jpg);
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.63;
    z-index: -999;
    padding-bottom: 3em;
}

#header {
    text-align: center;
    padding: 3em 0 3em 0;
    font-family: 'Sigmar One', cursive;
}

#title {
    font-size: 3em;
    text-transform: uppercase;
}

#description {
    text-transform: uppercase;
}

.form-content {
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
    width: 50%;
    padding: 2em;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
}

.location {
    text-align: center;
    margin: 1em 0 1em 0;
    font-weight: bold;
}

.content-border {
    line-height: 2em;
    border-radius: 10px;
    border: 5px dotted rgba(135, 207, 235, 0.562);
    padding-left: 23%;
}

.content-border p {
    font-weight: bold;
    font-size: 1.2em;
    padding-top: .7em;
}

.textbox-size, #dropdown, .content-border input[type=text], input[type=email], input[type=number], input[type=date] {
    width: var(--formWidth);
    padding: .5em;
    border-radius: 5px;
    border: 1.5px solid rgba(0, 0, 0, 0.4);
}

.container {
    display: block;
    position: relative;
}

.content-border input[type=submit] {
    margin-bottom: 1em;
    border-radius: 2px;
    padding: .6em;
    width: var(--formWidth);
    border: none;
    background-color: rgb(247, 158, 173);
    font-weight: bold;
    cursor: pointer;
}

@media (max-width: 1110px) {
    .content-border p {
        width: 55%;
        font-size: 1em;
    }
}

@media (max-width: 800px) {
    .form-title {
        font-size: 1.2em;
    }

    .location {
        font-size: .8em;
    }
    
    .form-content {
        width: 40%;
    }

    .textbox-size, #dropdown, .content-border input[type=text], input[type=email], input[type=number], input[type=date] {
        width: 100%;
    }

    .content-border input[type=submit] {
        width: 100%;
    }

    .content-border {
        padding-left: 0%;
    }
}

@media (max-width: 750px) {
    .form-title {
        font-size: 1em;
    }

    .location {
        font-size: .6em;
    }
}

@media (max-width: 650px) {
    .form-content {
        padding: 1em 0 1em 0;
    }

    .content-border p {
        font-size: .8em;
    }
}

@media (max-width: 495px) {
    .form-title {
        font-size: .85em;
    }

    .location {
        font-size: .55em;
    }

    .container {
        font-size: .7em;
    }
}